apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: netflix-servicemonitor
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: netflix-app
  endpoints:
    - port: http
      interval: 30s
      scrapeTimeout: 10s
      path: /metrics
  namespaceSelector:
    any: true
