apiVersion: v1
kind: Service
metadata:
  name: netflix-service
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: netflix-app
  ports:
  - name: http
    port: 80
    targetPort: 3020
