apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "netflix.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: netflix
  template:
    metadata:
      labels:
        app: netflix
    spec:
      imagePullSecrets:
      - name: dockerhub-secret
      containers:
      - name: netflix
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        ports:
        - containerPort: 3000
        env:
        {{- toYaml .Values.env | nindent 10 }}
