replicaCount: 2

image:
  repository: mujju752/netflix
  tag: "v1.0"
  pullPolicy: Always

imagePullSecrets:
  - name: dockerhub-secret

service:
  type: LoadBalancer
  port: 80
  targetPort: 3000

ingress:
  enabled: false

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

serviceMonitor:
  enabled: false

env:
  - name: NODE_ENV
    value: "production"
  - name: TMDB_API_KEY
    valueFrom:
      secretKeyRef:
        name: netflix-secrets
        key: TMDB_KEY
