replicaCount: 2

image:
  repository: mujju752/netflix
  tag: "latest"  # Automatically updated by Azure DevOps pipeline
  pullPolicy: Always

imagePullSecrets:
  - name: dockerhub-secret

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

ingress:
  enabled: true
  className: nginx
  tls: false
  hosts:
    - host: netflix.your-domain.com
      paths:
        - path: /
          pathType: Prefix

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

serviceMonitor:
  enabled: true
  interval: 30s

env:
  - name: NODE_ENV
    value: "production"
  - name: TMDB_API_KEY
    valueFrom:
      secretKeyRef:
        name: netflix-secrets
        key: TMDB_KEY
